<section class="mat-typography footer">
    <mat-grid-list cols="12" rowHeight="100px" gutterSize="10px">
      <mat-grid-tile [colspan]="3" [rowspan]="3">
        <h4>MM<sup>2</sup></h4>
        <button mat-button>T&eacute;rminos y Condiciones</button>
        <button mat-button>Pol&iacute;tica de Privacidad</button>
        <button mat-button>Aviso Legal</button>
        <button mat-button>Trabaja con Nosotros</button>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="3" [rowspan]="3">
        <h4>Quiero Invertir</h4>
        <button mat-button>Registrarme</button>
        <button mat-button>C&oacute;mo Funciona</button>
        <button mat-button>Simulador de Inversiones</button>
        <button mat-button>Preguntas Frecuentes</button>
        <button mat-button>Ateci&oacute;n al Usuario</button>
        <button mat-button>Contacto</button>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="3" [rowspan]="3">
        <h4>Contacto</h4>
        <span>Av. Dirección 1234</span>
        <span>Ciudad Autónoma de Buenos Aires - C.P. 5555</span>
        <span>Argentina</span>
        <span>Teléfono: +54-11-5555-5555</span>
        <span>info@mm2.com.ar</span>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="3" [rowspan]="3">
        <span class="logo">
          <mat-icon class="icon-header">location_city</mat-icon>
          <span>MM<sup>2</sup></span>
        </span>
        <span>Seguínos:</span>
        <div>
          <button mat-icon-button>
            <mat-icon svgIcon="facebook"></mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon svgIcon="linkedin"></mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon svgIcon="youtube"></mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon svgIcon="twitter"></mat-icon>
          </button>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
</section>
