<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <ul>
          <li><h4>MM<sup>2</sup></h4></li>
          <li><a>T&eacute;rminos y Condiciones</a></li>
          <li><a>Pol&iacute;tica de Privacidad</a></li>
          <li><a>Aviso Legal</a></li>
          <li><a>Trabaja con Nosotros</a></li>
        </ul>
      </div>
      <div class="col-3">
        <ul>
          <li><h4>Quiero Invertir</h4></li>
          <li><a>Registrarme</a></li>
          <li><a>C&oacute;mo Funciona</a></li>
          <li><a>Simulador de Inversiones</a></li>
          <li><a>Preguntas Frecuentes</a></li>
          <li><a>Ateci&oacute;n al Usuario</a></li>
          <li><a>Contacto</a></li>
        </ul>
      </div>
      <div class="col-3">
        <ul>
          <li><h4>Contacto</h4></li>
          <li>Av. Dirección 1234</li>
          <li>Ciudad Autónoma de Buenos Aires - C.P. 5555</li>
          <li>Argentina</li>
          <li></li>
          <li>Teléfono: +54-11-5555-5555</li>
          <li>info@mm2.com.ar</li>
        </ul>
      </div>
      <div class="col-3">
        <ul>
          <li>
            <i class="fa fa-city"></i>
            <span>MM<sup>2</sup></span>
          </li>
          <li>Seguínos:</li>
          <li>
            <a><i class="fab fa-facebook"></i></a>
            <a><i class="fab fa-youtube"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
            <a><i class="fab fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
