<section class="mat-typography">
  <mat-grid-list cols="12" rowHeight="100px" gutterSize="10px">
    <!-- Imagen Landing -->
    <mat-grid-tile [colspan]="12" [rowspan]="5">
      <div class="image-container">
        <div class="overlay">
          <h1>Invertí en MM<sup>2</sup> fácilmente</h1>
          <mat-chip-list>
            <mat-chip selected color="warn">
              <mat-icon>computer</mat-icon>100% Online
            </mat-chip>
            <mat-chip selected color="warn">
              <mat-icon>schedule</mat-icon>24/7
            </mat-chip>
            <mat-chip selected color="warn">
              <mat-icon>transfer_within_a_station</mat-icon>Sin intermediarios
            </mat-chip>
          </mat-chip-list>
          <button mat-raised-button color="accent">Quiero Invertir</button>
        </div>
      </div>
    </mat-grid-tile>

    <!-- 3 Pasos -->
    <mat-grid-tile [colspan]="12">
      <h2>Invertir en el Mercado Inmboliario ahora es muy f&aacute;cil</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>COMPRA</mat-card-title>
          <mat-card-subtitle>
            Sencillo, Seguro, 24/7 y sin salir de casa!
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            ¡Invert&iacute; HOY en mm<sup>2</sup>, sin ning&uacute;n costo legal, administrativo o burocr&aacute;trico.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>RECIBE RENTA</mat-card-title>
          <mat-card-subtitle>
            ¡Recibe cada mes tus Rentas!
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            De rentar el inmueble, la administraci&oacute;n y el mantenimiento no te preocupes, nosotros nos encargamos de todo.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>VENDE</mat-card-title>
          <mat-card-subtitle>
            ¡Vende cuando quieras!
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Cuando tus mm<sup>2</sup> hayan ganado plusvalía y decidas que es tiempo de vender, ponlos a la venta y nosotros nos encargamos de todo lo demás.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Simulador -->
    <mat-grid-tile [colspan]="12" [rowspan]="2">
      <mat-card class="card-simulador">
        <mat-card-header>
          <mat-card-title>SIMULADOR DE INVERSION</mat-card-title>
          <mat-card-subtitle>
            Ingresa el monto que deseas invertir para simular tu inversi&oacute;n
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-form-field>
              <input type="number" matInput placeholder="Monto a invertir">
            </mat-form-field>
            <button mat-flat-button color="primary">Simular Inversi&oacute;n</button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Como funciona? -->
    <mat-grid-tile [colspan]="12">
      <h2>¿C&oacute;mo Funciona?</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Selecci&oacute;n</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Elegimos solo las mejores propiedades que generan renta y plusvalía.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Fideicomiso</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Para garantizar la correcta administración, la propiedad pasa a manos de un fideicomiso bancario.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>MM<sup>2</sup> Digitales</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Se emiten el TOTAL de mm<sup>2</sup> digitales en función de la superficie de la propiedad.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Compra</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            ¡Compra tus mm<sup>2</sup> Hoy! 100% En Línea, de forma Sencilla y Segura. Sin Intermediarios ni Costos Legales y Administrativos.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Renta y Administraci&oacute;n</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            MM<sup>2</sup> se encarga de todo: Rentar, Facturar, Cobrar, Mantenimiento y Administración. Para que vos recibas tus rentas cada mes.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Plusval&iacute;a y Venta</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Ve crecer el valor de tus mm<sup>2</sup> y cuando lo decidas podrás ponerlos a la venta.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="12" [rowspan]="1" class="stepper">
      <mat-horizontal-stepper>
        <mat-step [completed]="true" [editable]="false" label="¡Invert&iacute; HOY!">
        </mat-step>
        <mat-step [completed]="true" [editable]="false" label="Genera Plusvalía">
        </mat-step>
        <mat-step [completed]="true" [editable]="false" label="Viv&iacute; de tus Rentas!">
        </mat-step>
      </mat-horizontal-stepper>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="12" [rowspan]="1" class="stepper">
      <button mat-raised-button color="accent">Quiero Invertir</button>
    </mat-grid-tile>

  </mat-grid-list>
</section>
